.Rproj.user
.Rhistory
.RData
.Ruserdata
01sesion/input/data/CASEN.xlsx
01sesion/input/data/ENE DEF 2022 SPSS.sav
01sesion/input/data/ENE DEF 2022 STATA.dta
01sesion/output/data/datos_proc.RData
02sesion/input/data/EFH2017_base_imputada.dta
